/* Pseudo state for invalid form fields */
/* formatting for each p */
body, header, form{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

body {
  justify-content: center;
}
form {
  width: 50%;
}

input {
/* I'd like the input fields to be at the far end of the textbox */
}
input:invalid {
  border:3px red solid;
}

input:valid {
  background-color:rgba(5, 141, 5, 0.5);
}

p {
  border: 2px gray solid;
}
/* All inputs */